/*
.navbar{
    background-color: rgb(68 69 68);
    padding: 1px;
    color: white;
}*/
body{
    margin: 0;
}

.btn-sign-in {
    background-color: #4eaacf;
    color: #f0ecec;
    cursor: pointer;
    border-radius: 10px;
    border: none; /* Optional: remove default border */
    font-size: 1.2rem; /* Increase text size */
    padding: 10px 12px; /* Increase size by padding */
 }

.btn-sign-in a {
    text-decoration: none;
    color: #f0ecec;
}

.btn-sign-in a:hover {
    color: #00bcd4;
}

.business-name{
    color: white;
    margin-left: 10px;

}

.navbar-logo{
    display: flex;
    align-items: center;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #1e1e2f;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar-logo img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 360px;
    border: 2px solid white; /* optional: gives a nice circular border */
}


.navbar-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #00bcd4;
}
