.main-content{
    background-color:rgb(218,215,203);
    text-align: center;
    min-height: 55vh;
    padding: 60px 40px;
    margin: 0 auto;

}




/*
.main-content {
    padding: 60px 40px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 35vh; !* makes sure it has a good height *!
    border-radius: 8px;
    text-align: center;
}
*/
