.form-container{
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.submit-btn{
    padding: 12px;
    background-color: #4eaacf;
    color: #f0ecec;
    cursor: pointer;
    border-radius: 10px;
    border-color: white;
    font-size: 1rem;
    margin-top: 10px;
}

.error{
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}